body {
    // background-color: #e7e7e7 !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.125rem;
    color: #222;
    background-color: #c9c9c9;
}

.card-content {
    .content {
        margin-top: 20px;
    }
}

.card-image {
    .image {
        height: 300px !important;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .image-small {
        height: 200px !important;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.rounded-top {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.recomendacion {
    font-size: 1.125em;
    color: gray;
    margin-right: 16px;
    margin-top: 16px;
    text-transform: uppercase;
}

.title-white {
    color: white;
    font-size: 0.8rem;
}

.disponible-en {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    font-size: 2rem;
}

a {
    text-decoration: none !important;
    text-transform: none !important;
    color: inherit;
}

.lead {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lead-small {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.box {
    padding: 0px !important;
    margin: 10px !important;

    .image {
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;

    img {
        margin-right: 10px;
        margin-bottom: 7px;
    }
}

@media screen and (min-width: 769px) {
    .big-box.is-12 {
        width: calc(100% - 0px) !important;
    }

    .box.is-3 {
        width: calc(25% - 20px) !important;
    }

    .box.is-4 {
        width: calc(33% - 16px) !important;
    }

    .box.is-6 {
        width: calc(50% - 20px) !important;
    }

    .box.is-8 {
        width: calc(66% - 12px) !important;
    }
}


@include until($desktop) {
    .box {
        width: 90%;
        margin: auto !important;
        margin-bottom: 20px !important;
    }

    .post {
        .card-content {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .is-multiline {
        width: 100%;
        margin-left: 0px;
    }

    iframe {
        width: 100%;
    }

    .title-section {
        padding-left: 20px;
    }

    .title-post {
        .b-title {
            width: 90% !important;
        }
    }

    .navbar-menu.is-active {
        background-color: #0c0c0c;

        a {
            color: white;
        }

        a:hover {
            background-color: #ffffff2e;
        }
    }
}

.social-shared-horizontal {
    li {
        float: left;
        margin: 0px 5px;
    }
}

.big-box {
    padding: 0px !important;
    // margin: 10px !important;
    background-color: white;
    // border-radius: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;

    .card-image {
        .image {
            height: 60vh !important;
        }
    }
}

.image-banner {
    width: 100%;
    // height: 100vh;
    height: 60vh;
    object-fit: cover;
    object-position: top;
}

.image-banner-home {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
    margin-bottom: 14px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.is-48x48 {
    img {
        border-radius: 50% !important;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border: 1px solid gray;
        padding: 3px;
    }
}

.datetime {
    position: absolute;
    z-index: 1;
    color: white;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navbar-end {
    font-size: 0.8rem;
    margin-top: 10px;
}

.navbar.is-black {
    // background-color: #000000e0;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
}

.footer.is-black {
    margin-top: 60px;
    background-color: black;
    color: white;
    width: 100%;
}

.gradient-back {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(29%, rgba(0, 0, 0, .3)), color-stop(81%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
    background: linear-gradient(180deg, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);

    height: 60vh;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.gradient-back-home {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(29%, rgba(0, 0, 0, .3)), color-stop(81%, rgba(0, 0, 0, .7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
    background: linear-gradient(180deg, rgba(0, 0, 0, .3) 29%, rgba(0, 0, 0, .7) 81%);
    height: 60vh;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post {
    margin-top: 5px;
}

.title-post {

    .b-title {
        a:hover {
            color: #fff !important;
        }
    }

    text-shadow: 0 0 10px rgba(0, 0, 0, .33);

    .b-title {
        width: 60%;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-family: 'Roboto', sans-serif;
    }

    p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    bottom: 100px;
    position: absolute;
    color: white;
    left: 10px;
    z-index: 1;
}

.social-shared {
    margin-top: 23px;

    svg:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.markdown {

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        // margin: 1.5em 10px;
        margin: 1.5em 0px;
        padding: 1em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        font-size: 1.5rem;
        color: #6b6b6b;
        font-style: italic;
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }

    margin-top: 40px;

    img {
        width: 100%;
        box-shadow: 5px 5px 5px #888888 !important;
    }

    p {
        margin-bottom: 25px;
        margin-top: 5px;
        text-align: justify;

        img {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
        margin-top: 40px;
    }

    h4 {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    ul {
        list-style: disc;
        margin-left: 20px;

        li {
            line-height: 2rem;
        }
    }

    figcaption {
        text-align: center;
        font-size: 12px;
    }

    .kg-card {
        margin-bottom: 40px;

        iframe {
            width: 100%;
            height: 400px;
            margin-top: 20px;
        }
    }

    a,
    strong {
        color: red !important;
    }

    a:hover {
        text-decoration: underline !important;
    }

}

.side-bar {
    margin-top: 23px;
    margin-left: 10px;

    li {
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 10px;
        border-left: 1px solid #9E9E9E;

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 5px #888888 !important;

            &:hover {
                opacity: 0.8;
            }
        }


        .div-text {
            padding-top: 0px;
            line-height: 1.5rem;
        }

    }
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .prev {}

.PageNavigation .next {
    text-align: right;
}

.card-tabs {
    padding: 0px;

    .content {
        background-color: black;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.cloud {
    text-align: left;
    padding: 14px;
}

.fb-comments {
    width: 100%;

    iframe {
        width: 100% !important;
    }
}

.tile-tag {
    display: inline-block;
    margin-top: 5px;
    margin-right: 3px;
    padding: 5px 15px;
    background-color: #363636;
    color: white;
    border-radius: 5px;
}

.tile-tag:hover {
    background-color: #f14668;
}

.spoiler-div {
    background-color: #f14668;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 10px 0px 15px 0px;
    margin-top: -7px;
    margin-bottom: 0px;
}

.relatedPosts {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

sup {
    text-align: center;
    display: block;
}
