<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LWP0P11KT9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-LWP0P11KT9');
  </script>

  <script data-ad-client="ca-pub-2863256019685447" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  {% seo title=false %}
</head>

<body>
  <!-- navbar  -->
  <nav class="navbar is-black" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a title="navbar-item navbar-logo" class="navbar-item navbar-logo" href="/"><img src="/assets/images/logo.png" alt="logo" /> The Beerbrother</a>
        <a title="navbar-burger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="recomendacion is-hidden-mobile">Recomendaciones de </div>
          <a href="/categoria/peliculas" class="navbar-item" title="navbar-item">PELICULAS</a>
          <a href="/categoria/series" class="navbar-item" title="navbar-item">SERIES</a>
          &nbsp;&nbsp;
          <!-- <a href="/categoria/comics" class="navbar-item">COMICS</a>    
            <a href="/categoria/juegos" class="navbar-item">JUEGOS</a>    
            <a href="/categoria/libros" class="navbar-item">LIBROS</a>     -->
        </div>

      </div>
    </div>
  </nav>

  {{ content}}

  <!-- footer  -->
  <footer class="footer is-black">

    <!-- <div class="content has-text-centered">
        <div class="columns is-centered">
          
          <div class="column is-6">
            <div class="columns">
                
                <div class="column has-text-centered">
                  <a href="" target="_blank">link 1</a>
                </div>
                <div class="column has-text-centered">
                  <a href="" target="_blank">link 1</a>
                </div>
                <div class="column has-text-centered">
                  <a href="" target="_blank">link 1</a>
                </div>

            </div>
          </div>

        </div>
      </div> -->

    <div class="content has-text-centered">
      <p>
        <br />
        <strong>© 2022</strong> The BeerBrother<br />
        <small>Escrito con <i class="fas fa-heart" style="color: red"></i> por <a title="sebavidal" href="https://sebavidal.cl">Sebastián Vidal</a></small>
      </p>
    </div>
  </footer>

</body>

</html>
